
<%= render 'users/u', user: @user, book: @book %>
<%= flash[:success] %>

<div class="col-xs-9">
<h1>Book detail</h1>
<table class="table">
<tbody>
	<tr>
		<td>
			<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback:"no_image2.jpg" %><br>
			<%= link_to @user.name, user_path(@user.id) %>
		</td>
		<td><%= link_to @booked.title, book_path(@booked.id) %></td>
		<td><%= @booked.body %></td>
		<td>
		  <div id="favorites_buttons_<%= @booked.id %>">
            <!-- localsオプションを使えばpartialオプション（部分テンプレートと強調する物）を必ず使用する -->
            <%= render partial: 'favorites/favorite', locals: {book: @booked} %>
          </div>
		</td>
		<td>コメント数:<%= @booked.book_comments.count %></td>
		<% if @user == current_user %>
		<td><%= link_to "Edit", edit_book_path(@booked.id), class:"btn-sm btn-success" %></td>
		<td><%= link_to "Destroy", book_path(@booked.id), class:"btn-sm btn-danger",method: :delete, data:{confirm: '本当に消しますか？'}%></td>
		<% end %>
	</tr>
</tbody>
</table>

	<%= form_with model: [@booked, @book_comment] do |f| %>
	    <div class="row">
	        <div class="col-sm-12">
	            <%= f.text_area :comment, rows:'5', class: "form-control" %>
	        </div>
	    </div>
	    <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
	<% end %>

	<div class="col-sm-12">
		<table class="table book_comments_table">
				 <%= render 'book_comments/book_comment', book_comments: @booked.book_comments %>
	   </table>
	</div>
</div>