<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %><br><br><br>
  <div class="container">
  <div class="row">
    <%= yield %>
  </div>
  </div>
    <%= render "layouts/footer" %>
  </body>
</html>
